body {
  margin: 6px 10px;
  overflow: hidden;
}

.dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  color: #333;
  line-height: 1.4;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu > li > span:hover {
  background-color: #91CC27;
}

.dropdown-menu > .active {
  font-weight: bold;
}

.navbar-inverse .navbar-info,
.navbar-inverse .navbar-brand {
  display: block;
  padding: 15px 15px;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
}

.navbar-input {
  padding: 0 15px;
}

.data {
  color: #91CC27;
}

.hidden {
  display: none;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path.link.focused-child,
path.link.focused-parent {
  stroke: #555;
}

marker.arrow {
  fill: #999;
}

.node circle {
  fill: #91CC27;
  stroke: #555;
  stroke-width: 1px;
}

.node circle.main {
  fill: #555;
}

.node circle.leaf {
  fill: #999;
}

.node.focused circle {
  fill: #555;
  stroke: #333;
  stroke-width: 2.5px;
}

.node.focused-child circle {
  fill: #ccc;
  stroke-width: 2.5px;
}

.node.focused-parent circle {
  stroke-width: 2.5px;
}

.node text {
  fill: #999;
  font: 12px sans-serif;
  pointer-events: none;
}

.node text.main {
  fill: #333;
  font-size: 16px;
  font-weight: bold;
}

.node.focused text {
  fill: #333;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #ccc, 0 0 1em #fff, 0 0 0.2em #fff;
}

.node.focused text.main {
  font-size: 16px;
}
