body {
  margin: 6px 10px;
  overflow: hidden;
}

.dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  color: #333;
  line-height: 1.4;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu > li > span:hover {
  background-color: #91CC27;
}

.dropdown-menu > .active {
  font-weight: bold;
}

.navbar-inverse .navbar-info,
.navbar-inverse .navbar-brand {
  display: block;
  padding: 15px 15px;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
}

.navbar-input {
  padding: 0 15px;
}

.navbar .data {
  color: #91CC27;
}

.hidden {
  display: none;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

marker.arrow {
  fill: #777;
}

circle {
  fill: #91CC27;
  stroke: #555;
  stroke-width: 1px;
}

circle.main,
circle.focused {
  fill: #555;
}

circle.focused {
  stroke: #333;
  stroke-width: 2.5px;
}

circle.focused-child {
  fill: #999;
}

circle.focused-parent {
  fill: #91CC27;
}

text {
  fill: #555;
  font: 12px sans-serif;
  pointer-events: none;
}

text.main,
text.full-text {
  fill: #333;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #ccc, 0 0 1em #fff, 0 0 0.2em #fff;
}

text.main,
text.focused  {
  font-size: 18px;
}